@import './base.css';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    //font-size: 100%;
    //font-family: inherit;
    font-family: var(--text-family-default);
    vertical-align: baseline;
}
html,body {
    color: var(--content-color-secondary);
    font-size:var(--text-size-m,12px) ;
    font-family: var(--text-family-default);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {color: #454545;font-weight: bold;}
h1 { font-size: 24px;line-height: 34px;}
h2 { font-size: 14px;line-height: 24px;padding-top: 5px;}
h6 { font-weight: normal;font-size: 12px;letter-spacing: 1px;line-height: 24px;text-align: center;}
a { color:#454545; text-decoration: none;}
a:hover { color:#ffc459; }


input.radio {margin: 0 2px 0 8px;}
input.radio.first {margin-left:0;}
input.empty {color: lightgray;}

em,i { font-style: normal; }
input { outline: none; -webkit-tap-highlight-color: transparent; outline:none }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px transparent inset!important; -webkit-text-fill-color: #333; }
input:-internal-autofill-selected{ background: transparent!important; }



textarea { outline: none; -webkit-tap-highlight-color: transparent; outline:none }
textarea:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px transparent inset!important; -webkit-text-fill-color: #333; }
textarea:-internal-autofill-selected{ background: transparent!important; }

ul { list-style: none; }
img { -webkit-user-drag: none; }

.hide { display: none;}
.font-0 { font-size: 0; }
.font-ellipsis {  white-space: nowrap; text-overflow: ellipsis;  overflow: hidden;  word-break: break-all;}

.tc { text-align: center;}
.tr { text-align: right;}
.tl { text-align: left; }

.fl { float: left; }
.fr { float: right; }

.pt {
    &-xxs {padding-top: var(--spacing-xxs);}
    &-xs {padding-top: var(--spacing-xs);}
    &-s {padding-top: var(--spacing-s);}
    &-m {padding-top: var(--spacing-m);}
    &-l {padding-top: var(--spacing-l);}
    &-xl {padding-top: var(--spacing-xl);}
}

.pb {
    &-xxs {padding-bottom: var(--spacing-xxs);}
    &-xs {padding-bottom: var(--spacing-xs);}
    &-s {padding-bottom: var(--spacing-s);}
    &-m {padding-bottom: var(--spacing-m);}
    &-l {padding-bottom: var(--spacing-l);}
    &-xl {padding-bottom: var(--spacing-xl);}
}

.pl {
    &-xxs {padding-left: var(--spacing-xxs);}
    &-xs {padding-left: var(--spacing-xs);}
    &-s {padding-left: var(--spacing-s);}
    &-m {padding-left: var(--spacing-m);}
    &-l {padding-left: var(--spacing-l);}
    &-xl {padding-left: var(--spacing-xl);}
}

.pr {
    &-xxs {padding-right: var(--spacing-xxs);}
    &-xs {padding-right: var(--spacing-xs);}
    &-s {padding-right: var(--spacing-s);}
    &-m {padding-right: var(--spacing-m);}
    &-l {padding-right: var(--spacing-l);}
    &-xl {padding-right: var(--spacing-xl);}
}

.mt {
    &-xxs {margin-top: var(--spacing-xxs);}
    &-xs {margin-top: var(--spacing-xs);}
    &-s {margin-top: var(--spacing-s);}
    &-m {margin-top: var(--spacing-m);}
    &-l {margin-top: var(--spacing-l);}
    &-xl {margin-top: var(--spacing-xl);}
}

.mb {
    &-xxs {margin-bottom: var(--spacing-xxs);}
    &-xs {margin-bottom: var(--spacing-xs);}
    &-s {margin-bottom: var(--spacing-s);}
    &-m {margin-bottom: var(--spacing-m);}
    &-l {margin-bottom: var(--spacing-l);}
    &-xl {margin-bottom: var(--spacing-xl);}
}

.ml {
    &-xxs {margin-left: var(--spacing-xxs);}
    &-xs {margin-left: var(--spacing-xs);}
    &-s {margin-left: var(--spacing-s);}
    &-m {margin-left: var(--spacing-m);}
    &-l {margin-left: var(--spacing-l);}
    &-xl {margin-left: var(--spacing-xl);}
}

.mr {
    &-xxs {margin-right: var(--spacing-xxs);}
    &-xs {margin-right: var(--spacing-xs);}
    &-s {margin-right: var(--spacing-s);}
    &-m {margin-right: var(--spacing-m);}
    &-l {margin-right: var(--spacing-l);}
    &-xl {margin-right: var(--spacing-xl);}
}

.none-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn {
    box-sizing: border-box;
    border-radius: var(--border-radius-default);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: var(--spacing-s) 10px;
    font-size: var(--text-size-m);
    font-weight: var(--text-weight-medium);
    font-family: var(--text-family-default);
    line-height: var(--line-height-s);
    color: var(--content-color-secondary);
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;

    &-secondary {
        background-color: var(--background-color-tertiary);
        min-width: 100px;
        color: var(--content-color-secondary);
    }

    &-small {
        height: var(--size-m);
        padding: var(--spacing-s) 10px;
        min-width: 64px;
        font-size: var(--text-size-m);
        line-height: var(--line-height-xs);
        background-color: var(--background-color-tertiary);
        font-weight: 400;
    }


    &:hover {
        background-color: var(--background-color-secondary);
    }

    &-primary {
        background-color: var(--base-color-brand);
        min-width: 64px;
        color:#FFF;
        &:hover {
            background: var(--highlight-background-color-brand);
        }
    }
}


.input {
    &-wrap {
        position: relative;
        width: 228px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: var(--border-radius-default);
        border: var(--border-width-default) var(--border-style-solid) var(--border-color-default);
        background-color: var(--background-color-primary);
        &:hover {

            background-color: var(--background-color-tertiary);

            .icon-close-fill {
                display: block;
            }
        }

        .icon-close-fill {
            display: none;
            position: absolute;
            top: 4px;
            right: 6px;
            color: var(--grey-40);
            cursor: pointer;
            z-index: 1;
            &:hover {
                color: var(--red-40);
            }
        }
    }

    &-inner {
        position: relative;
        padding-right: 15px;

        input,textarea {
            width: 100%;
            height: var(--controls-size-default);
            margin: 0;
            padding: 0;

            color: var(--content-color-primary);
            font-size: var(--text-size-m);
            line-height: var(--line-height-m);
            font-family: var(--text-family-default);

            border-width: 0;
            background: transparent;
        }

        textarea {
            padding: var(--spacing-s) 0;
            height: auto;
        }
    }

    &-textarea {
        padding-right: 0;
    }

    &-s {
        width: 120px;
    }

    &-xxxm {
        width: 160px;
    }

    &-xxm {
        width: 180px;
    }

    &-xm {
        width: 200px;
    }

    &-m {
        width: 240px;
    }

    &-l {
        width: 360px;
    }

    &-xl {
        width: 380px;
    }

    &-xxl {
        width: 400px;
    }

    &-xxxl {
        width: 420px;
    }
}

/** 滑块 **/
[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    cursor: pointer;

    &::-webkit-slider-runnable-track {
        height: 3px;
        background: var(--background-color-tertiary);
        border-radius: var(--border-color-default);
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        margin-top: -8px;

        border-radius: 50%;
        background-color: var(--base-color-brand);
        border: 3px solid #FFF;

        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
}

[type="range" i]::-webkit-slider-container {
    height: 20px;
    overflow: hidden;
}

/** 快捷菜单 **/
.quick-menu { display: none; position: fixed; top: 50%; left: 50%;  background: #FFF; z-index: 1; border-radius: 2px;  box-shadow: 1px 2px 10px rgba(0, 0, 0, .15);}
.quick-menu ul li { position: relative; height: 35px; line-height: 35px; padding-right: 10px; padding-right: 20px; cursor: pointer;  }
.quick-menu ul li.line { border-top: solid 1px #F5f5f5; }
.quick-menu ul li:hover { background: #F5f5f5; }
.quick-menu ul li:hover span { background: transparent; }
.quick-menu ul li span { display: block; float: left;  width: 30px; height: 35px; padding-left: 10px;  margin-right: 10px; background: #fefefe;  border-right: solid 1px #F5f5f5; }
.quick-menu ul li span i { margin-left: 4px; }
.quick-menu ul li span i:first-child { line-height: 39px; }
.quick-menu ul li span i.lucency { opacity: 0; }
.quick-menu ul li span i.icon-fensui { opacity: 0.9; }

.quick-menu ul li.forbiden { color: #999; }
.quick-menu ul li.forbiden:hover { background: #FFF; }

/** 状态栏 **/
.statusbar {
    &-wrap {
        position: fixed;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 25px;
        line-height: 20px;

        background: var(--background-color-secondary);
        border-top: var(--border-style-solid) var(--border-width-default) var(--border-color-default);
        z-index: 1;
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 10px;
        margin-left: 203px;

        color: var(--content-color-secondary);
        font-size: var(--text-size-m);
        transition: margin-left var(--transition-delay-default) var(--transition-timing-default);
    }

    &-left {
        display: flex;
        align-items: center;

        .item {
            cursor: pointer;
            &:hover {
                color: var(--content-color-tertiary);
            }
        }

        .icon-return {
            display: block;
            padding: 0 3px;

            color: #AAA;
            font-size: 10px;

            transform: rotate(180deg);
            line-height: 1;
        }
    }

    &-right {
        display: flex;
        align-items: center;

        span {
            margin-right: var(--spacing-m);
            &:last-child {
                margin-right: 0;
            }
        }

        .icon-problem {
            font-size: var(--text-size-xl);
        }
    }

    &-inner__fold {
        margin-left: 0;
    }

    &-inner__fold-2 {
        margin-left: 76px;
    }
}


.toolbar {
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 6px var(--spacing-s);

        border-bottom: var(--border-style-solid) var(--border-width-default) var(--border-color-default);
        background-color: var(--background-color-secondary);
    }

    &-left, &-right {
        display: flex;
        align-items: center;

        .operate-btn {
            display: flex;
            align-items: center;
            position: relative;
            width: fit-content;
            height: var(--size-s);
            line-height: var(--size-s);
            padding: var(--spacing-xxs) var(--spacing-s);
            margin-right: var(--spacing-m);

            color: var(--content-color-secondary);
            font-size: var(--text-size-m);

            cursor: pointer;
            border-radius: var(--border-radius-default);
            overflow: hidden;

            i { margin-right: var(--spacing-xxs)}

            &:hover {
                color: var(--content-color-primary);
                background: var(--highlight-background-color-primary);
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .forbiden {
            color: var(--content-color-tertiary);
            &:hover {
                color: var(--content-color-tertiary);
                background: transparent;
            }
        }
    }

    &-menu {
        display: flex;
        align-items: center;

        .separation-line  {
            display: block;
            width: 1px;
            height: 20px;

            margin-left: -5px;
            margin-right: 8px;

            background: var(--background-color-tertiary);
        }

        .operate-btn {
            display: flex;
            align-items: center;
            position: relative;
            width: fit-content;
            height: var(--size-s);
            line-height: var(--size-s);
            padding: var(--spacing-xxs) var(--spacing-s);
            margin-right: var(--spacing-m);

            color: var(--content-color-secondary);
            font-size: var(--text-size-m);

            cursor: pointer;
            border-radius: var(--border-radius-default);

            & > i {
                &.iconfont {
                    margin-right: var(--spacing-xs)
                }

                &.down {
                    display: block;
                    margin-left: var(--spacing-xs);
                    margin-right: 0;
                    transform: scale(0.5) rotate(-90deg);
                    opacity: 0.85;
                }
            }

            &:hover {
                color: var(--content-color-primary);
                background: var(--highlight-background-color-primary);
                .icon-return {
                    opacity: 1;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .active {
            &:hover {
                color: var(--content-color-secondary);
                background: transparent;
            }
        }

        .forbiden {
            color: var(--content-color-tertiary);
            &:hover {
                color: var(--content-color-tertiary);
                background: transparent;
            }
        }
    }
}


.toolbar-more-menu {
    &-wrap {
        position: fixed;
        top: 87px;
        right: 10px;
        //position: absolute;
        //top: 34px;
        //right: 0px;

        width: fit-content;

        background: #FFF;
        border-radius: var(--border-radius-default);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, .15);
        z-index: 2;

        .up {
            position: fixed;
            top: 72px;
            right: 17px;
            border: solid 8px transparent;
            border-bottom-color: #FFF;
        }
    }

    &-inner {
        padding: 6px;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;

            position: relative;

            margin-top: var(--spacing-xs);
            padding: var(--spacing-xxs) var(--spacing-s);

            font-size: var(--text-size-m);
            font-weight: normal;
            cursor: pointer;

            & > span {
                display: flex;
                align-items: center;
                & > i {
                    padding-right: var(--spacing-m);
                }

                & > em.title {
                    padding-right: var(--spacing-s);
                }
            }

            & > i.icon-return {
                color: var(--content-color-tertiary);
                font-size: var(--text-size-m);
                padding-right: 0;
                transform: rotate(-180deg);
            }

            &:first-child {
                margin-top: 0;
            }

            &:hover {
                background: var(--background-color-secondary);
                border-radius: var(--border-radius-default);

                .toolbar-more-sub-menu-wrap {
                    display: block;
                }

                & > span > i.iconfont {
                    animation: spinner-magnify 550ms 1 ease-in-out;
                }
            }
        }

        .line {
            margin-top: var(--spacing-xs);
            border-top: solid 1px var(--border-color-default);
        }
    }
}

.toolbar-more-sub-menu {
    &-wrap {
        display: none;
        position: absolute;
        top: -6px;
        left: 0px;
        z-index: 1;

        background: #FFF;
        border-radius: var(--border-radius-default);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, .15);
    }

    &-inner {
        padding: 6px;

        .sub-item {
            display: flex;
            align-items: center;

            line-height: 24px;

            margin-top: var(--spacing-xs);
            padding: var(--spacing-xxs) var(--spacing-s);
            white-space: nowrap;
            cursor: pointer;

            .dot {
                &-wrap {
                    padding-left: var(--spacing-xs);
                    padding-right: var(--spacing-m);
                }

                &-inner {
                    display: block;
                    width: 5px;
                    height: 5px;
                    padding-right: 0;
                    background: var(--content-color-secondary);
                    border-radius: var(--border-radius-max);
                    opacity: 0;
                }
            }

            & > i {
                &.iconfont {
                    padding-left: var(--spacing-xs);
                    padding-right: var(--spacing-xs);
                }
            }

            em {
                &.title {
                    padding-left: var(--spacing-xs);
                    padding-right: var(--spacing-s)
                }

                &.icon-return {
                    margin: 0;
                    color: var(--content-color-tertiary);
                    font-size: var(--text-size-m);
                    padding-right: var(--spacing-l);
                    padding-left:0;
                    transform: rotate(-180deg);
                }
            }

            &:first-child {
                margin-top: 0;
            }

            &.active {
                .dot-wrap .dot-inner { opacity: 1 }
            }

            &:hover {
                background: var(--background-color-secondary);
                border-radius: var(--border-radius-default);

                i.iconfont {
                    animation: spinner-magnify 550ms 1 ease-in-out;
                }
            }
        }
    }
}

.toolbar-drop-menu {
    &-wrap {
        position: absolute;
        top: 34px;
        left: 0px;

        background: #FFF;
        border-radius: var(--border-radius-default);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, .15);
        white-space: nowrap;
        z-index: 2;

        .up {
            position: absolute;
            top: -15px;
            left: 16%;
            border: solid 8px transparent;
            border-bottom-color: #FFF;
        }
    }

    &-inner {
        padding: 6px;

        .line {
            margin-top: var(--spacing-xs);
            border-top: solid 1px var(--border-color-default);
        }

        .item {
            position: relative;
            display: flex;
            align-items: center;
            line-height: 24px;

            margin-top: var(--spacing-xs);
            padding: var(--spacing-xxs) var(--spacing-s);

            cursor: pointer;

            .dot {
                &-wrap {
                    padding-left: var(--spacing-xs);
                    padding-right: var(--spacing-m);
                }

                &-inner {
                    display: block;
                    width: 5px;
                    height: 5px;
                    padding-right: 0;
                    background: var(--content-color-secondary);
                    border-radius: var(--border-radius-max);
                    opacity: 0;
                }
            }

            & > i {
                &.iconfont {
                    padding-left: var(--spacing-xs);
                    padding-right: var(--spacing-xs);
                }
            }

            em {
                &.title {
                    padding-left: var(--spacing-xs);
                    padding-right: var(--spacing-s)
                }

                &.icon-return {
                    margin: 0;
                    color: var(--content-color-tertiary);
                    font-size: var(--text-size-m);
                    padding-right: var(--spacing-l);
                    padding-left:0;
                    transform: rotate(-180deg);
                }
            }

            &:first-child {
                margin-top: 0;
            }

            &.active {
                & > .dot-wrap .dot-inner { opacity: 1 }
            }

            &:hover {
                background: var(--background-color-secondary);
                border-radius: var(--border-radius-default);

                i.iconfont {
                    animation: spinner-magnify 550ms 1 ease-in-out;
                }

                .toolbar-drop-sub-menu-wrap {
                    display: block;
                }
            }
        }
    }
}

.toolbar-drop-sub-menu {
    &-wrap {
        display: none;
        position: absolute;
        top: -6px;
        left: 0px;
        z-index: 1;

        background: #FFF;
        border-radius: var(--border-radius-default);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, .15);
    }

    &-inner {
        padding: 6px;

        .sub-item {
            display: flex;
            align-items: center;

            line-height: 24px;

            margin-top: var(--spacing-xs);
            padding: var(--spacing-xxs) var(--spacing-s);
            white-space: nowrap;
            cursor: pointer;

            .dot {
                &-wrap {
                    padding-left: var(--spacing-xs);
                    padding-right: var(--spacing-m);
                }

                &-inner {
                    display: block;
                    width: 5px;
                    height: 5px;
                    padding-right: 0;
                    background: var(--content-color-secondary);
                    border-radius: var(--border-radius-max);
                    opacity: 0;
                }
            }

            & > i {
                &.iconfont {
                    padding-left: var(--spacing-xs);
                    padding-right: var(--spacing-xs);
                }
            }

            em {
                &.title {
                    padding-left: var(--spacing-xs);
                    padding-right: var(--spacing-s)
                }

                &.icon-return {
                    margin: 0;
                    color: var(--content-color-tertiary);
                    font-size: var(--text-size-m);
                    padding-right: var(--spacing-l);
                    padding-left:0;
                    transform: rotate(-180deg);
                }
            }

            &:first-child {
                margin-top: 0;
            }

            &.active {
                .dot-wrap .dot-inner { opacity: 1 }
            }

            &:hover {
                background: var(--background-color-secondary);
                border-radius: var(--border-radius-default);

                i.iconfont {
                    animation: spinner-magnify 550ms 1 ease-in-out;
                }
            }
        }
    }
}


/* 滚动条 */
.scrollbar-space { margin-right: 6px; }
.scrollbar::-webkit-scrollbar { width: 10px; height: 10px; margin-right: 10px; padding-bottom:10px;  }

/*.scrollbar::-webkit-scrollbar:horizontal { height: 10px; margin-right: 10px; padding-bottom:10px;  }*/
/*.scrollbar::-webkit-scrollbar-thumb:horizontal { height: 12px;  height: 12px !important;  border-radius: 100px; background: #d9d9d9; }*/

.scrollbar::-webkit-scrollbar-track { background-color: #fff; border-radius: 8px; }/* 滚动条背景 */
.scrollbar::-webkit-scrollbar-thumb { width: 12px;  height: 12px !important;  border-radius: 100px; background: var(--grey-30); } /* 滚动条颜色 */
.scrollbar::-webkit-scrollbar-thumb:hover { background-color: var(--grey-40); } /* 滚动条颜色鼠标放上去颜色 */
.scrollbar::-webkit-scrollbar-thumb:active { background-color: var(--grey-40); } /* 滚动条颜色点击颜色 */
.scrollbar::-webkit-scrollbar-button{  width: 10px;  height: 4px;  border:1px solid transparent; background-size: 100% auto; }


//.scrollbar::-webkit-scrollbar-button{  width: 10px;  height: 25px;  border:1px solid transparent; background-size: 100% auto; }

//.scrollbar::-webkit-scrollbar-button:horizontal{  width: 25px; height: 10px;  border:1px solid transparent;   background-size: auto 100%; }
//.scrollbar::-webkit-scrollbar-button:horizontal:start { background: transparent url('../images/scrollbar/left.png') no-repeat 5px 0px; background-size: auto 100%;}
//.scrollbar::-webkit-scrollbar-button:horizontal:start:hover { background-image: url('../images/scrollbar/left_hover.png');  }
//.scrollbar::-webkit-scrollbar-button:horizontal:start:active { background-image: url('../images/scrollbar/left_active.png');  }
//
//.scrollbar::-webkit-scrollbar-button:horizontal:end { background: transparent url('../images/scrollbar/right.png') no-repeat 10px 0px; background-size: auto 100%;}
//.scrollbar::-webkit-scrollbar-button:horizontal:end:hover { background-image: url('../images/scrollbar/right_hover.png'); }
//.scrollbar::-webkit-scrollbar-button:horizontal:end:active { background-image: url('../images/scrollbar/right_active.png'); }
//
//.scrollbar::-webkit-scrollbar-button:start { background: transparent url('../images/scrollbar/up.png') no-repeat 0 5px; background-size: 100% auto;}
//.scrollbar::-webkit-scrollbar-button:start:hover { background-image: url('../images/scrollbar/up_hover.png');  }
//.scrollbar::-webkit-scrollbar-button:start:active { background-image: url('../images/scrollbar/up_active.png');  }
//
//.scrollbar::-webkit-scrollbar-button:end { background: transparent url('../images/scrollbar/down.png') no-repeat 0 10px; background-size: 100% auto;}
//.scrollbar::-webkit-scrollbar-button:end:hover { background-image: url('../images/scrollbar/down_hover.png'); }
//.scrollbar::-webkit-scrollbar-button:end:active { background-image: url('../images/scrollbar/down_active.png'); }

