@import './base.css';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
html,body {
    color: var(--content-color-secondary);
    font-size:var(--text-size-m,12px) ;
    font-family: var(--text-family-default);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {color: #454545;font-weight: bold;}
h1 { font-size: 24px;line-height: 34px;}
h2 { font-size: 14px;line-height: 24px;padding-top: 5px;}
h6 { font-weight: normal;font-size: 12px;letter-spacing: 1px;line-height: 24px;text-align: center;}
a { color:#454545; text-decoration: none;}
a:hover { color:#ffc459; }


input.radio {margin: 0 2px 0 8px;}
input.radio.first {margin-left:0;}
input.empty {color: lightgray;}

em,i { font-style: normal; }
input { outline: none; -webkit-tap-highlight-color: transparent; outline:none }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px transparent inset!important; -webkit-text-fill-color: #333; }
input:-internal-autofill-selected{ background: transparent!important; }
ul { list-style: none; }
img { -webkit-user-drag: none; }

.hide { display: none;}
.font-0 { font-size: 0; }
.font-ellipsis {  white-space: nowrap; text-overflow: ellipsis;  overflow: hidden;  word-break: break-all;}

.tc { text-align: center;}
.tr { text-align: right;}
.tl { text-align: left; }

.fl { float: left; }
.fr { float: right; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }

.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-25 { margin-bottom: 25px; }

.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-25 { padding-top: 25px; }

.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-25 { padding-bottom: 25px; }


.btn {
    box-sizing: border-box;
    border-radius: var(--border-radius-default);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    padding: var(--spacing-s) 10px;
    font-size: var(--text-size-m);
    font-weight: var(--text-weight-medium);
    font-family: var(--text-family-default);
    line-height: var(--line-height-s);
    color: var(--content-color-secondary);

    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}


.scrollbar-space { margin-right: 6px;  }
.scrollbar::-webkit-scrollbar { width: 10px; height: 10px; margin-right: 10px; padding-bottom:10px;  }


/*.scrollbar::-webkit-scrollbar:horizontal { height: 10px; margin-right: 10px; padding-bottom:10px;  }*/
/*.scrollbar::-webkit-scrollbar-thumb:horizontal { height: 12px;  height: 12px !important;  border-radius: 100px; background: #d9d9d9; }*/

.scrollbar::-webkit-scrollbar-track { background-color: #fff; border-radius: 8px; }/* 滚动条背景 */
.scrollbar::-webkit-scrollbar-thumb { width: 12px;  height: 12px !important;  border-radius: 100px; background: #d9d9d9; } /* 滚动条颜色 */
.scrollbar::-webkit-scrollbar-thumb:hover { background-color: #bbb; } /* 滚动条颜色鼠标放上去颜色 */
.scrollbar::-webkit-scrollbar-thumb:active { background-color: #bbb; } /* 滚动条颜色点击颜色 */
.scrollbar::-webkit-scrollbar-button{  width: 10px;  height: 25px;  border:1px solid transparent;   background-size: 100% auto; }

.scrollbar::-webkit-scrollbar-button:horizontal{  width: 25px;  height: 10px;  border:1px solid transparent;   background-size: auto 100%; }
.scrollbar::-webkit-scrollbar-button:horizontal:start { background: transparent url('../../dist/images/scrollbar/left.png') no-repeat 5px 0px; background-size: auto 100%;}
.scrollbar::-webkit-scrollbar-button:horizontal:start:hover {  background-image: url('../../dist/images/scrollbar/left_hover.png');  }
.scrollbar::-webkit-scrollbar-button:horizontal:start:active {  background-image: url('../../dist/images/scrollbar/left_active.png');  }

.scrollbar::-webkit-scrollbar-button:horizontal:end { background: transparent url('../../dist/images/scrollbar/right.png') no-repeat 10px 0px; background-size: auto 100%;}
.scrollbar::-webkit-scrollbar-button:horizontal:end:hover { background-image: url('../../dist/images/scrollbar/right_hover.png'); }
.scrollbar::-webkit-scrollbar-button:horizontal:end:active { background-image: url('../../dist/images/scrollbar/right_active.png'); }

.scrollbar::-webkit-scrollbar-button:start { background: transparent url('../../dist/images/scrollbar/up.png') no-repeat 0 5px; background-size: 100% auto;}
.scrollbar::-webkit-scrollbar-button:start:hover {  background-image: url('../../dist/images/scrollbar/up_hover.png');  }
.scrollbar::-webkit-scrollbar-button:start:active {  background-image: url('../../dist/images/scrollbar/up_active.png');  }

.scrollbar::-webkit-scrollbar-button:end { background: transparent url('../../dist/images/scrollbar/down.png') no-repeat 0 10px; background-size: 100% auto;}
.scrollbar::-webkit-scrollbar-button:end:hover { background-image: url('../../dist/images/scrollbar/down_hover.png'); }
.scrollbar::-webkit-scrollbar-button:end:active { background-image: url('../../dist/images/scrollbar/down_active.png'); }



/** 快捷菜单 **/
.quick-menu { display: none; position: fixed; top: 50%; left: 50%;  background: #FFF; z-index: 1; border-radius: 2px;  box-shadow: 1px 2px 10px rgba(0, 0, 0, .15);}
.quick-menu ul li { position: relative; height: 35px; line-height: 35px; padding-right: 10px; padding-right: 20px; cursor: pointer;  }
.quick-menu ul li.line { border-top: solid 1px #F5f5f5; }
.quick-menu ul li:hover { background: #F5f5f5; }
.quick-menu ul li:hover span { background: transparent; }
.quick-menu ul li span { display: block; float: left;  width: 30px; height: 35px; padding-left: 10px;  margin-right: 10px; background: #fefefe;  border-right: solid 1px #F5f5f5; }
.quick-menu ul li span i { margin-left: 4px; }
.quick-menu ul li span i:first-child { line-height: 39px; }
.quick-menu ul li span i.lucency { opacity: 0; }
.quick-menu ul li span i.icon-fensui { opacity: 0.9; }

.quick-menu ul li.forbiden { color: #999; }
.quick-menu ul li.forbiden:hover { background: #FFF; }


/** 排序菜单 **/
.order-menu { position: fixed; top: 87px; right: 5px;  background: #FFF; z-index: 1; border-radius: 2px;  box-shadow: 1px 2px 10px rgba(0, 0, 0, .15);}
.order-menu em.up-icon { position: fixed; top: 72px; right: 12px; border: solid 8px transparent; border-bottom-color: #FFF; }
.order-menu ul li { height: 35px; line-height: 35px; padding-right: 10px; padding-right: 20px; cursor: pointer;  }
.order-menu ul li.line { border-top: solid 1px #F5f5f5; }
.order-menu ul li:hover { background: #F5f5f5; }
.order-menu ul li:hover em { background: transparent; }
.order-menu ul li em { display: block; float: left;  width: 30px; height: 35px; padding-left: 10px;  margin-right: 10px; background: #fefefe;  border-right: solid 1px #F5f5f5; }
.order-menu ul li em i { margin-left: 4px; }
.order-menu ul li em i:first-child { line-height: 39px; }
.order-menu ul li em i.lucency { opacity: 0; }
.order-menu ul li em i.icon-fensui { opacity: 0.9; }


/** 程序加载 **/
.loader-wrap { position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background: #f5f5f5; z-index: 10; }
.loader-inner { position: fixed; top: 50%; left: 50%; width: 150px; height: 150px; }
.loader-inner p { display: block;  margin-left: -95px; margin-top: 30px; color: #b9b9b9; font-weight: bolder;  text-shadow:5px 2px 6px #fff; }
.loader-inner div.loader-rotate-box { box-sizing: border-box; position: relative; margin-top:-100px; margin-left: -75px; width: 150px; height: 150px; display: block; overflow: hidden; }
.loader-inner div.loader-rotate-box, .loader-inner div.loader-rotate-box div { height: 100%;  border-radius: 50%; padding: 8px; border: 3px solid transparent; animation: rotate linear 3.5s infinite; border-top-color: rgba(0, 0, 0, .12); border-bottom-color: rgba(255,165,0,0.35); }
.loader-inner div.loader-rotate-box, .loader-inner div.loader-rotate-box * { box-sizing: border-box;  will-change: transform; }
@keyframes rotate { 0% {  transform: rotate(0deg);  } 50% {  transform: rotate(180deg);  } 100% {  transform: rotate(360deg);  } }


/* 分页 */
.page-box { padding: 15px 0; margin: 0 auto; text-align: center; }
.page-box span { display:inline-block; padding:3px 7px; margin:0px 3px;}
.page-box a { display:inline-block; margin:0 3px; padding:6px 13px; border:1px solid #d1d1d1; background: #FFF; text-decoration:none; color:#666}
.page-box a:hover{ color:#ffc459; }
.page-box a.cu { color: #FFF;  background: #ffc459; border-color: #ffc459;  }





.scrollbar-space { margin-right: 6px;  }
.scrollbar::-webkit-scrollbar { width: 10px; height: 10px; margin-right: 10px; padding-bottom:10px;  }


/*.scrollbar::-webkit-scrollbar:horizontal { height: 10px; margin-right: 10px; padding-bottom:10px;  }*/
/*.scrollbar::-webkit-scrollbar-thumb:horizontal { height: 12px;  height: 12px !important;  border-radius: 100px; background: #d9d9d9; }*/

.scrollbar::-webkit-scrollbar-track { background-color: #fff; border-radius: 8px; }/* 滚动条背景 */
.scrollbar::-webkit-scrollbar-thumb { width: 12px;  height: 12px !important;  border-radius: 100px; background: #d9d9d9; } /* 滚动条颜色 */
.scrollbar::-webkit-scrollbar-thumb:hover { background-color: #bbb; } /* 滚动条颜色鼠标放上去颜色 */
.scrollbar::-webkit-scrollbar-thumb:active { background-color: #bbb; } /* 滚动条颜色点击颜色 */
.scrollbar::-webkit-scrollbar-button{  width: 10px;  height: 25px;  border:1px solid transparent;   background-size: 100% auto; }

.scrollbar::-webkit-scrollbar-button:horizontal{  width: 25px;  height: 10px;  border:1px solid transparent;   background-size: auto 100%; }
.scrollbar::-webkit-scrollbar-button:horizontal:start { background: transparent url('../../dist/images/scrollbar/left.png') no-repeat 5px 0px; background-size: auto 100%;}
.scrollbar::-webkit-scrollbar-button:horizontal:start:hover {  background-image: url('../../dist/images/scrollbar/left_hover.png');  }
.scrollbar::-webkit-scrollbar-button:horizontal:start:active {  background-image: url('../../dist/images/scrollbar/left_active.png');  }

.scrollbar::-webkit-scrollbar-button:horizontal:end { background: transparent url('../../dist/images/scrollbar/right.png') no-repeat 10px 0px; background-size: auto 100%;}
.scrollbar::-webkit-scrollbar-button:horizontal:end:hover { background-image: url('../../dist/images/scrollbar/right_hover.png'); }
.scrollbar::-webkit-scrollbar-button:horizontal:end:active { background-image: url('../../dist/images/scrollbar/right_active.png'); }

.scrollbar::-webkit-scrollbar-button:start { background: transparent url('../../dist/images/scrollbar/up.png') no-repeat 0 5px; background-size: 100% auto;}
.scrollbar::-webkit-scrollbar-button:start:hover {  background-image: url('../../dist/images/scrollbar/up_hover.png');  }
.scrollbar::-webkit-scrollbar-button:start:active {  background-image: url('../../dist/images/scrollbar/up_active.png');  }

.scrollbar::-webkit-scrollbar-button:end { background: transparent url('../../dist/images/scrollbar/down.png') no-repeat 0 10px; background-size: 100% auto;}
.scrollbar::-webkit-scrollbar-button:end:hover { background-image: url('../../dist/images/scrollbar/down_hover.png'); }
.scrollbar::-webkit-scrollbar-button:end:active { background-image: url('../../dist/images/scrollbar/down_active.png'); }

