.detail {
    &-wrap {
        height: calc(100vh - 25px - 48px - 41px);
        overflow-y: auto;
    }

    &-header-skeleton {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        padding: var(--spacing-m);

        .cover {
            width: 183px;
            height: 243px;
            margin-right: var(--spacing-m);
            border-radius: var(--skeleton-radius-l);
            background: var(--skeleton-color-secondary);
            animation: fade var(--skeleton-animation-duration) infinite ease-in-out;
        }

        .info {
            position: relative;
            width: 35%;

            .title {
                width: var(--skeleton-width-default);
                height: var(--skeleton-height-default);
                border-radius: var(--skeleton-radius-default);
                background: var(--skeleton-color-secondary);
                animation: fade var(--skeleton-animation-duration) infinite ease-in-out;
            }

            .subtitle,.no {
                width: var(--skeleton-width-l);
                height: var(--skeleton-height-default);
                margin-top: var(--spacing-m);
                border-radius: var(--skeleton-radius-default);
                background: var(--skeleton-color-secondary);
                animation: fade var(--skeleton-animation-duration) infinite ease-in-out;
            }

            .no {
                width: var(--skeleton-width-s);
            }

            .tag {
                display: flex;
                align-items: center;
                span {
                    display: block;
                    width: 60px;
                    height: var(--skeleton-height-default);
                    margin-top: var(--spacing-m);
                    margin-right: var(--spacing-s);
                    border-radius: var(--skeleton-radius-default);
                    background: var(--skeleton-color-secondary);
                    animation: fade var(--skeleton-animation-duration) infinite ease-in-out;
                }
                &:nth-child(1n) span {width: 90px;}
                &:nth-child(2n) span {width: 60px;}
            }

            .tags {
                position: absolute;
                left: 0;
                bottom: 10px;

                display: flex;
                align-items: center;

                span {
                    display: block;
                    width: 50px;
                    height: var(--skeleton-height-xl);
                    margin-right: var(--spacing-m);


                    background: var(--skeleton-color-secondary);
                    border-radius: 20px;
                    animation: fade var(--skeleton-animation-duration) infinite ease-in-out;
                }
            }
        }
    }

    &-header {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        padding: var(--spacing-m);

        .cover {
            margin-right: var(--spacing-m);
            border-radius: var(--border-radius-l);
            object-fit: contain;
        }

        .info {
            position: relative;
            width: 100%;

            .title,.subtitle {
                width: 65%;
                padding-bottom: var(--spacing-s);
                color: var(--content-color-primary);
                font-size: var(--text-size-xl);

                //.icon-copy {
                //    color: var(--content-color-tertiary);
                //    font-weight: normal;
                //    cursor: pointer;
                //
                //    &:hover {
                //        color: var(--content-color-secondary);
                //    }
                //}
                :deep(span) {
                    color: var(--content-color-secondary);
                }
            }

            .subtitle {
                font-size: var(--text-size-l);
            }

            .no {
                font-size: var(--text-size-l);
                padding-bottom: var(--spacing-xxs);

                span {
                    color: var(--content-color-tertiary);
                }
            }

            .taxonomy {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                width: 65%;

                label { margin-top: 6px}
                .item {
                    //display: flex;
                    //align-items: center;
                    //justify-items: center;
                    //justify-content:flex-end;

                    margin-top: 6px;
                    padding: var(--spacing-xxs) 0;
                    margin-right: var(--spacing-s);

                    cursor: pointer;
                    vertical-align: center;

                    em {
                        padding: var(--spacing-xxs) 0;
                        padding-left: var(--spacing-xs);
                        padding-right: var(--spacing-s);
                        background: var(--background-color-tertiary);
                        border-top-left-radius: var(--border-radius-default);
                        border-bottom-left-radius: var(--border-radius-default);
                    }

                    i {
                        padding: var(--spacing-xxs) 0;
                        padding-left: var(--spacing-xs);
                        padding-right: var(--spacing-xs);
                        color: var(--content-color-secondary);

                        background: var(--highlight-background-color-tertiary);
                        border-top-right-radius: var(--border-radius-default);
                        border-bottom-right-radius: var(--border-radius-default);
                    }

                    &:hover {
                        opacity: 0.85;
                    }
                }
            }
        }
    }

    &-main {

        padding-bottom: var(--spacing-xl);

        .file-item {
            position: relative;
            margin: 0 auto;
            background: var(--background-color-secondary);
            border-radius: var(--border-radius-default);
            box-shadow: 1px 2px 10px rgba(0, 0, 0, .15);

            overflow: hidden;

            .loading {
                position: absolute;
                top: 15%;
                left: 50%;
                width: 200px;
                height: 200px;
                margin-left: -100px;
                text-align: center;
                font-size: 60px;
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select:none;
                user-select:none;
                z-index: 1;
            }

            .title {
                position: absolute;
                bottom: 5%;
                left: 50%;
                margin-left: -134px;
                color: #CCC;
                font-size: 60px;
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select:none;
                user-select:none;
                z-index: 1;
            }

            .cover {
                position: relative;
                width: 100%;
                height: auto;

                font-size: 0;


                border-radius: var(--border-radius-default);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    &-footer {
        padding-bottom: var(--spacing-xl);
        color: var(--content-color-tertiary);
        font-size: var(--text-size-l);
        line-height: 1;
        text-align: center;
    }

    &-page {
        display: flex;
        align-items: flex-end;

        position: fixed;
        left: 233px;
        bottom: var(--spacing-xxxl);

        color: var(--grey-30);
        font-size: 32px;
        line-height: 1;

        transition: left var(--transition-delay-default) var(--transition-timing-default);

        &__fold {
            left: var(--spacing-xl)
        }

        &__fold-2 {
            left: 100px
        }

        .current {
            color: var(--grey-40);
            font-size: 36px;
            opacity: 0.65;
        }

        em {
            margin: 0 2px;
            font-style: normal;
        }
    }
}
