.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        app-region: drag;
        user-select: none;

        -webkitapp-region: drag;
        -webkituser-select: none;

        height: 48px;
        padding-left: 218px;
        background: var(--background-color-primary);
        border-bottom: var(--border-style-solid) var(--border-width-default) var(--border-color-default);
        //box-shadow: inset 0px -1px 0px var(--border-color-strong);
    }

    .nav {
        display: flex;
        align-items: center;
        -webkit-app-region: no-drag;
        app-region: no-drag;

        .icon-return {
            height: var(--size-m);
            width: var(--size-m);
            line-height: var(--line-height-xxl);

            color: var(--content-color-secondary);
            font-size: var(--text-size-l);
            text-align: center;

            cursor: pointer;
            border-radius: var(--border-radius-default);

            &:hover,&:active {
                color: var(--content-color-primary);
                background: var(--highlight-background-color-secondary);
            }
        }
    }

    .search {
        position: relative;
        display: flex;
        align-items: center;

        padding: 0 15px 0 6px;

        color: var(--content-color-secondary);
        font-size: var(--text-size-m);

        line-height: var(--line-height-xxl);

        background: var(--background-color-secondary);
        border-radius: 32px;
        border: var(--border-style-solid) var(--border-width-default) transparent;

        &:hover,&:active {
            //background: var(--background-color-tertiary);
            background: var(--background-color-primary);
            border-color: var(--border-color-default);
            //border: var(--border-style-solid) var(--border-width-default) transparent;
        }

        input {
            width: 178px;
            background: transparent;
            color: var(--content-color-secondary);
            border-width: 0;

            &[type='text']::-webkit-input-placeholder {
                color: var(--content-color-tertiary);
                font-size: var(--text-size-m);
                line-height: var(--line-height-xxl);
            }
        }

        .icon-search {
            width: var(--size-m);
            height: var(--size-m);

            color: var(--content-color-tertiary);
            text-align: center;
            &:hover,&:active {
                color: var(--content-color-primary);
            }
        }

        .icon-close {
            position: absolute;
            top: 8px;
            right: 8px;

            width: 16px;
            height: 16px;
            line-height: 16px;

            color: #FFF;
            font-size: 8px;
            text-align: center;

            background: var(--grey-40);
            border-radius: var(--border-radius-max);

            cursor: pointer;
            &:hover {
                background: var(--red-40);
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;
        -webkit-app-region: no-drag;

        .iconfont {
            width: 48px;
            height: 48px;
            line-height: 48px;
            color: var(--content-color-secondary);
            font-size: var(--text-size-m);
            cursor: pointer;

            &:hover {
                background: var(--highlight-background-color-secondary);
            }

            &:last-child:hover {
                color: #FFF;
                background: var(--red-50);
            }
        }
    }
}


