.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;


    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        -webkit-app-region: drag;
        -webkit-user-select: none;

        padding-left: 218px;
        height: 50px;
        background: #FFF;
        border-bottom: solid 1px #d1d1d1;
    }

    .nav {
        display: flex;
        align-items: center;
        -webkit-app-region: no-drag;

        .icon-return {
            width: 30px;
            height: 30px;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            cursor: pointer;

            &:hover {
                background: var(--button-hover-bg);
            }
        }

        .icon-close {
            width: 16px;
            height: 16px;
            font-size: 8px;
            line-height: 16px;
            text-align: center;
            cursor: pointer;
            color: #FFF;
            background: rgba(0,0,0,.25);
            border-radius: 100%;

            &:hover {
                background: var(--button-hover-bg);
            }
        }
    }

    .search {
        display: flex;
        align-items: center;

        padding: 0 15px 0 6px;

        font-size: 16px;
        line-height: 30px;

        background: rgba(0,0,0,.025);
        border-radius: 32px;

        input {
            width: 178px;
            background: transparent;
            border-width: 0;

            &[type='text']::-webkit-input-placeholder {
                color: #999;
                font-size: 13px;
                line-height: 30px;
            }
        }

        .icon-search {
            width: 30px;
            height: 30px;
            text-align: center;

            color: #999;
        }

        &:hover {
            .icon-search { color: #333;}
        }
    }

    .menu {
        display: flex;
        align-items: center;
        -webkit-app-region: no-drag;

        .iconfont {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 12px;
            cursor: pointer;

            &:hover {
                background: var(--button-hover-bg);
            }

            &:last-child:hover {
                color: #FFF;
                background: rgba(255,0,0,.75);
            }
        }
    }
}


