@font-face {
  font-family: "iconfont"; /* Project id 4833690 */
  src: url('iconfont.woff2?t=1745564070487') format('woff2'),
       url('iconfont.woff?t=1745564070487') format('woff'),
       url('iconfont.ttf?t=1745564070487') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-layout-three:before {
  content: "\e6a7";
}

.icon-layout-double:before {
  content: "\e6aa";
}

.icon-layout-single:before {
  content: "\e6ab";
}

.icon-upload:before {
  content: "\e75d";
}

.icon-round-right:before {
  content: "\e65b";
}

.icon-warn-fill:before {
  content: "\e663";
}

.icon-warn:before {
  content: "\e666";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-home-fill:before {
  content: "\e6bb";
}

.icon-toggle-left:before {
  content: "\e64d";
}

.icon-toggle-right:before {
  content: "\e64f";
}

.icon-lock:before {
  content: "\e676";
}

.icon-sign-out:before {
  content: "\e67d";
}

.icon-unlock:before {
  content: "\e683";
}

.icon-user:before {
  content: "\e684";
}

.icon-discover:before {
  content: "\e67e";
}

.icon-we-fill:before {
  content: "\e6f4";
}

.icon-we:before {
  content: "\e6f5";
}

.icon-parody-fill:before {
  content: "\e7a9";
}

.icon-parody:before {
  content: "\e7aa";
}

.icon-discover-fill:before {
  content: "\e6ba";
}

.icon-new-fill:before {
  content: "\e71d";
}

.icon-new:before {
  content: "\e71e";
}

.icon-tag-fill:before {
  content: "\e751";
}

.icon-tag:before {
  content: "\e752";
}

.icon-group:before {
  content: "\e753";
}

.icon-artist-fill:before {
  content: "\e7cc";
}

.icon-artist:before {
  content: "\e7cd";
}

.icon-group-fill:before {
  content: "\e7f5";
}

.icon-close-fill:before {
  content: "\e658";
}

.icon-copy:before {
  content: "\e706";
}

.icon-radio-box:before {
  content: "\e75b";
}

.icon-radio-box-fill:before {
  content: "\e763";
}

.icon-quit:before {
  content: "\e62e";
}

.icon-return-top:before {
  content: "\e634";
}

.icon-arrow:before {
  content: "\e647";
}

.icon-exit:before {
  content: "\e7cb";
}

.icon-restore:before {
  content: "\e692";
}

.icon-top:before {
  content: "\e695";
}

.icon-increase:before {
  content: "\e698";
}

.icon-cut-back:before {
  content: "\e699";
}

.icon-squarecheck:before {
  content: "\e696";
}

.icon-contact-customer-service:before {
  content: "\e603";
}

.icon-feedback:before {
  content: "\e608";
}

.icon-more:before {
  content: "\e615";
}

.icon-about:before {
  content: "\e616";
}

.icon-password:before {
  content: "\e62b";
}

.icon-female:before {
  content: "\e632";
}

.icon-male:before {
  content: "\e633";
}

.icon-star:before {
  content: "\e635";
}

.icon-time:before {
  content: "\e636";
}

.icon-visible:before {
  content: "\e63b";
}

.icon-problem:before {
  content: "\e63d";
}

.icon-unselected:before {
  content: "\e63e";
}

.icon-personal:before {
  content: "\e640";
}

.icon-message:before {
  content: "\e641";
}

.icon-scanning:before {
  content: "\e642";
}

.icon-love:before {
  content: "\e643";
}

.icon-search:before {
  content: "\e645";
}

.icon-square:before {
  content: "\e646";
}

.icon-add:before {
  content: "\e649";
}

.icon-return:before {
  content: "\e64b";
}

.icon-switch:before {
  content: "\e64c";
}

.icon-invisible:before {
  content: "\e64e";
}

.icon-remind:before {
  content: "\e650";
}

.icon-setting:before {
  content: "\e653";
}

.icon-setting-fill:before {
  content: "\e654";
}

.icon-minimize:before {
  content: "\e65a";
}

.icon-maximize:before {
  content: "\e65d";
}

.icon-close:before {
  content: "\e660";
}

.icon-screenshots:before {
  content: "\e662";
}

.icon-delete:before {
  content: "\e664";
}

.icon-delete-fill:before {
  content: "\e665";
}

.icon-expression:before {
  content: "\e667";
}

.icon-image:before {
  content: "\e66a";
}

.icon-file:before {
  content: "\e66c";
}

.icon-file-fill:before {
  content: "\e66d";
}

.icon-pictures:before {
  content: "\e672";
}

.icon-clear:before {
  content: "\e680";
}

